body {
    width:100%;
    margin:0;
}
//ログイン部分
.top_back {
    width:100vw;
    height:auto;
    background-color:rgb(172, 115, 115);
    .top_back_container {
        display:flex;              /* 幅指定 */
        height: auto;               /* 高さ指定 */
        margin:  0 0 0 auto;
        a{
            display:block;
            text-align:right;
            padding-right:60px;
            text-decoration:none;
            color:#fff;
            margin:0;
            font-size:16px;
            cursor:pointer;
        }
        h1 {
            text-align:right;
            padding-right:60px;
            text-decoration:none;
            color:#fff;
            margin:0;
            font-size:1rem;
            cursor:pointer;

        }
          //タイムライン
  .Time_line {
      a {
          padding-right:100px;
          text-decoration:none;
          color:#fff;
          margin:0;
          font-size:1rem;
          cursor:pointer;
      }
  }
            //個人ページ
            .profile_page {
                a {
                    
                    text-decoration:none;
                    color:#fff;
                    margin:0;
                    font-size:1rem;
                    cursor:pointer;
                }
            }
    }
}
//ログアウト部分
.logout_contents {
    font-size: 12px;
    display: none;
  }
  .logout_contents.active {
    display: block;
    cursor: pointer;
  }


  //メイン部分
.container {
    margin-top:100px;
    width:100vw;
    height:100vh;

    .container_box {
        width: 50%;               /* 幅指定 */
        height: 90px;               /* 高さ指定 */
        margin:  0 auto;

        h3 {
            text-align:center;
        }
        .image_juge{
            max-width:100%;
            height:auto;
            margin: 0 auto;
        }

        .input-area {
            text-align:center;

            .do1 {
                text-align:center;
                padding: 50px;
            }
            .do2 {
                text-align:center;
                padding: 50px;
            }

        }
    }

    //投稿表示部分
    section {
        margin-top:100px;
        text-align:center;

        h2 {
            border:1px solid #000;
            padding:50px;
            background-image:url(img/背景画像２.png);
            animation: bgiLoop 5s linear infinite;
        }
        @keyframes bgiLoop {
            0% { background-position: 0 0;}
            100% {background-position: 5000000000000px 300px;}
        }
    }
}