body {
    width:100%;
    max-width:100vw;
}


.top_container {
    margin-top:100px;
    width:100vw;
    height:100vh;
    .top_box {
        width: 50%;               /* 幅指定 */
        height: 90px;               /* 高さ指定 */
        margin:  0 auto;
        img#hogehoge {
            max-width:100%;
            height:auto;
            margin: 0 auto;
        }            /* 中央寄せ */
        .button_box {
            text-align:center;
            .b2 {
                margin-left:100px;
            }
        }
    }
}